<!-- Header -->
<div class="header">
   <div class="header-icon">
       <a href="/">
             <img src="./img/Logo.png" class="img-fluid" alt="Logo">
        </a>
   </div>
            <h1>Jokes Collection</h1>
            <p>Share a laugh, add your own</p>
 </div>