@page "/"

<PageTitle>Home - Funny Jokes</PageTitle>


<AddAJoke/>

 <section class="jokes-main-section">
            <div class="row">
                <div class="col-md-3">
                    <aside class="filter-bars">
                        <div class="mb-3 categories">
                            <JokeCategories/>
                        </div>
                        <div class="audiences">
                            <AudiencesList/>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                   <JokesList/>
                </div>
            </div>
</section>

