
<div class="header">
    <div class="header-icon">
        <img src="images/Logo.png" alt="Logo" style="width: 4rem; height: 4rem;" />
        <!-- Or use an emoji if no image -->
        <!-- <span>😂</span> -->
    </div>
    <h1>Joke Generator</h1>
    <p>Have a laugh or share your own!</p>
</div>
@code {

}
