@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the joke generator</h1>
<p> have fun sharing jokes</p>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@inject IHttpClientFactory HttpClientFactory

<h2>Jokes</h2>

@if (jokes == null)
{
    <p>Loading...</p>
}
else if (!jokes.Any())
{
    <p>No jokes found.</p>
}
else
{
    <ul>
        @foreach (var joke in jokes)
        {
            <li>@joke</li>
        }
    </ul>
}

@code {
    private List<string> jokes;

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient("JokeApi");
        jokes = await client.GetFromJsonAsync<List<string>>("api/Jokes");
    }
}